{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}


{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    {#<div class="alert alert-warning" role="alert" >#}
    {#<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
    {#<span>#}
    {#<p> </p>#}

    {#</span>#}
    {#</div>#}





    {{ form_start(form) }}

    {{ form_row(form.client, {'label': 'for_subs.client'|trans }) }}
    {{ form_row(form.date, {'label': 'for_subs.date'|trans }) }}
    {{ form_row(form.total, {'label': 'for_subs.total'|trans }) }}

    {#{{ form_row(form.date) }}#}



    <a id="btn-calculate-total" class="btn btn-secondary btn-sm" href="#" role="button"> {{ 'for_subs.calculate'|trans }}</a>

    <p> {{ 'for_subs.items'|trans }}</p>
    <ul id="items" class="tags" data-prototype="{{ form_widget(form.items.vars.prototype)|e('html_attr') }}">

        {% for item in form.items %}

            <li class="list-group-item">
                <div class="form-group">

                    {{ form_row(item.products) }}

                </div>

                <div class="form-group">

                    {{ form_row(item.qtd) }}

                </div>
            </li>
        {% endfor %}


    </ul>

    {{ form_row(form.SALVAR, {'label': 'for_subs.save'|trans }) }}

    {{ form_end(form) }}
    <a id="link" class="btn btn-secondary btn-sm" href="{{ path('sale_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>




{% endblock %}

{% block javascripts %}

    <script>



        //$('.alert').hide();

        var $collectionHolder;
        var $addTagButton = $('<br><button type="button" class="btn btn-secondary btn-sm">Add item</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);





        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#items');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            $('#{{ form.SALVAR.vars.id }}').click(function() {
                $('#sale_total').unmask();
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-secondary btn-sm">Delete this tag</button>' );

            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        $('#btn-calculate-total').on('click', function (evt) {
            evt.stopPropagation();

            products = [];
            quantity = [];

            $('ul#items').find('select option:selected').each(function () {
                products.push($(this).text());
            });

            $('ul#items').find('input').each(function () {
                quantity.push($(this).val());
            });

            items = {
                'products': products,
                'quantity': quantity,
                'oldQuantity': []
            };

            {% for item in sale.items %}
                items.oldQuantity.push({{ item.qtd }});
            {% endfor %}

            calcAjax(items);
        });

        function calcAjax($item) {
            console.info($item);
            $.ajax({
                url: '{{ path('sale_calcular') }}',
                data: $item,
                type: 'POST'
            })
                .done(function( msg ) {

                    console.log(msg)

                    if(msg['total'])
                    {
                        var total = msg['total'].toFixed(2);
                        $('#sale_total').unmask().val(total).mask('#.##0,00', { reverse: true });
                    }
                    else
                    {
                        for(i = 0; i < msg['error'].length; i++)
                        {
                            // $('.alert').append(msg['error'][i]).show();

                            alert(msg['error'][i]);
                        }



                    }


                });
        }





    </script>
{% endblock %}

