{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}



{% block body %}

    <table class="table" id="table-data-table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"> {{ 'for_subs.date'|trans }}</th>
            <th scope="col"> {{ 'for_subs.total'|trans }}</th>
            <th scope="col">
                {{ 'for_subs.actions'|trans }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <th scope="row">{{ sale.id }}</th>
                <td>{{ sale.date|date("d/M/Y") }}</td>
                <td>{{ sale.total }}</td>

                <td>
                    <a href="{{ path('sale_edit' , {'sale' : sale.id}) }}">
                        {{ 'for_subs.edit'|trans }}
                    </a>
                    <a href="{{ path('sale_show', {'sale': sale.id }) }}">
                        {{ 'for_subs.show'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('sale_new') }}" role="button">  {{ 'for_subs.adds'|trans }}</a>

{% endblock %}