{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}


{% block body %}

    <strong> {{ 'for_subs.client'|trans }}:</strong> {{ sale.client.nome }}<br>

    <strong> {{ 'for_subs.date'|trans }}: </strong>  {{ sale.date|date("d/M/Y")}}
    <br>
    <strong> {{ 'for_subs.totalsale'|trans }}: </strong>  {{ sale.total }}
    <br>
    <br>
    <strong> {{ 'ushop.menu.product'|trans }}:</strong>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col"> {{ 'for_subs.quantity'|trans }}</th>
            <th scope="col">{{ 'ushop.menu.product'|trans }}</th>
            <th scope="col"> {{ 'for_subs.value'|trans }}</th>
            <th scope="col"> {{ 'for_subs.total'|trans }}</th>
        </tr>
        </thead>
        <tbody>

            {%  for item in  sale.items %}
        <tr>
                <th scope="row"> {{ item.qtd }}x</th>  </th>    <td>{{(item.products.nome) }} </td>         <td>{{ item.products.preco }}</td>     <td>{{ item.preco }}</td>
                <br>
        </tr>
            {% endfor %}


        </tbody>
    </table>



    <br>
    <br>

    {{ form_start(delete_form) }}
    <a class="btn btn-secondary btn-lg" href="{{ path('sale_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    <button type="submit" class="btn btn-danger btn-lg">
        {{ 'for_subs.delete'|trans }}
    </button>
    {{ form_end(delete_form) }}

{% endblock %}




