{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}


{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.nome, {'label': 'for_subs.name'|trans }) }}
    {{ form_row(form.cpf, {'label': 'cpf'|trans }) }}
    {{ form_row(form.SALVAR, {'label': 'for_subs.save'|trans }) }}
    {#{{ form_widget(form) }}#}
    <a class="btn btn-secondary btn-sm" href="{{ path('client_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    {{ form_end(form) }}


{% endblock %}