{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}


{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">  {{ 'for_subs.name'|trans }}</th>
            <th scope="col">CPF</th>
            <th scope="col">
                {{ 'for_subs.actions'|trans }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>{{ client.nome }}</td>
            <td>{{ client.cpf }}</td>
            <td>
                <a href="{{ path('client_edit' , {'client' : client.id}) }}">
                    {{ 'for_subs.edit'|trans }}

                </a>
                <a href="{{ path('client_show', {'client': client.id }) }}">
                    {{ 'for_subs.show'|trans }}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('client_new') }}" role="button">
        {{ 'for_subs.addc'|trans }}
    </a>

{% endblock %}