{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}


{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}


    {{ form_start(form) }}

    {{ form_row(form.nome, {'label': 'for_subs.name'|trans }) }}
    {{ form_row(form.cpf, {'label': 'cpf'|trans }) }}
    {{ form_row(form.SALVAR, {'label': 'for_subs.save'|trans }) }}

    {#{{ form_widget(form) }}#}
    <a id="link" class="btn btn-secondary btn-sm" href="{{ path('client_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {


            $('#{{ form.cpf.vars.id }}').mask('000.000.000-00', {reverse: true});
        });
    </script>
{% endblock %}