{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}

{% block body %}

    {{ 'for_subs.name'|trans }}: {{ client.nome }}
    <br>
    CPF: {{ client.cpf }}
    <br>
    <br>


    {{ form_start(delete_form) }}
    <a class="btn btn-secondary btn-lg" href="{{ path('client_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    <button type="submit" class="btn btn-danger btn-lg">
        {{ 'for_subs.delete'|trans }}
    </button>
    {{ form_end(delete_form) }}

{% endblock %}