{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}

{% block body %}

    {{ form_start(form) }}

    {{ form_row(form.nome, {'label': 'for_subs.name'|trans }) }}
    {{ form_row(form.preco, {'label': 'for_subs.price'|trans }) }}
    {{ form_row(form.qtdEstoque, {'label': 'for_subs.quantity'|trans }) }}
    {{ form_row(form.categories, {'label': 'for_subs.categories'|trans }) }}
    {{ form_row(form.SALVAR, {'label': 'for_subs.save'|trans }) }}

    {#{{ form_widget(form) }}#}
    <a class="btn btn-secondary btn-sm" href="{{ path('product_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    {{ form_end(form) }}


{% endblock %}