{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}



{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{{ 'for_subs.name'|trans }}</th>
            <th scope="col">{{ 'for_subs.price'|trans }}</th>
            <th scope="col">{{ 'for_subs.quantity'|trans }}</th>
            <th scope="col">{{ 'for_subs.actions'|trans }}</th>
            {#<th scope="col">Categorias</th>#}
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.nome }}</td>
                <td>{{ product.preco }}</td>
                <td>{{ product.qtdEstoque }}</td>
                <td>
                    <a href="{{ path('product_edit' , {'product' : product.id}) }}">
                        {{ 'for_subs.edit'|trans }}
                    </a>
                    <a href="{{ path('product_show', {'product': product.id }) }}">
                        {{ 'for_subs.show'|trans }}
                    </a>
                </td>
                <td>
                    {#<ul>#}
                        {#{% for category in product.categories %}#}
                            {#<li>#}
                                {#{{ category.nome }}{% if not loop.last %}, {% endif %}#}
                            {#</li>#}
                        {#{% endfor %}#}
                    {#</ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('product_new') }}" role="button">  {{ 'for_subs.addp'|trans }}</a>

{% endblock %}