{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}





{% block body %}



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> {{ 'for_subs.newcat'|trans }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <label for="exampleInputEmail1">{{ 'ushop.menu.category'|trans }}</label>
                    <input type="text" class="form-control" id="newCategory" aria-describedby="emailHelp" >



                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-dismiss="modal">{{ 'for_subs.return'|trans }}</button>
                    <button type="button" id="saveCategory" class="btn btn-primary">{{ 'for_subs.save'|trans }}</button>
                </div>
            </div>
        </div>
    </div>



    {{ form_start(form) }}
    {{ form_row(form.nome, {'label': 'for_subs.name'|trans }) }}
    {{ form_row(form.preco, {'label': 'for_subs.price'|trans }) }}
    {{ form_row(form.qtdEstoque, {'label': 'for_subs.quantity'|trans }) }}
    {{ form_row(form.categories, {'label': 'for_subs.categories'|trans }) }}
    {{ form_row(form.SALVAR, {'label': 'for_subs.save'|trans }) }}

    <a id="link" class="btn btn-secondary btn-sm" href="{{ path('product_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        {{ 'for_subs.addca'|trans }}
    </button>

    {{ form_end(form) }}


{% endblock %}



{% block javascripts %}
    <script>



        $("#saveCategory").click(function(){
            $category = $('#newCategory').val();
            $.ajax({
                url: '{{ path('category_newcat') }}',
                data: { 'newCategory': $category },
                method: 'POST'
            })
            .done(function(ret){
                if(ret.id)
                {
                    console.log(ret.msg);
                    $('#{{ form.categories.vars.id }}').append("<option value='"+ret.id+"' selected>"+ $category +"</option>");
                    $('#exampleModalCenter').modal('hide');//close the modal.
                }
                else
                {
                    console.log(ret.msg);
                }
                $("#resultado").html(ret.msg);
            })



        });



    </script>
{% endblock %}