{% trans_default_domain 'AppBundle' %}




<table align="center" border="1" cellpadding="0" cellspacing="0" width="600">

    <thead>
    <tr>
        <th bgcolor="#70bbd9">Produto</th>
        <th bgcolor="#70bbd9">Quantidade</th>
    </tr>
    </thead>
    <tbody>
{% for product in products %}
        <tr>
            <td align="center" >{{ product.nome }}</td>
            <td align="center" >{{ product.qtdEstoque }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
