{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col"> {{ 'for_subs.name'|trans }}</th>
            <th scope="col">  {{ 'for_subs.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.nome }}</td>
                <td>
                    <a href="{{ path('category_edit' , {'category' : category.id}) }}">
                        {{ 'for_subs.edit'|trans }}
                    </a>
                    <a href="{{ path('category_show', {'category': category.id }) }}">
                        {{ 'for_subs.show'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-lg" href="{{ path('category_new') }}" role="button">  {{ 'for_subs.addca'|trans }}</a>

{% endblock %}