{% extends 'base.html.twig'  %}
{% trans_default_domain 'AppBundle' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.nome, {'label': 'for_subs.name'|trans }) }}
    {{ form_row(form.salvar, {'label': 'for_subs.save'|trans }) }}
    {#{{ form_widget(form) }}#}
    <a id="link" class="btn btn-secondary btn-sm" href="{{ path('category_index') }}" role="button">
        {{ 'for_subs.return'|trans }}
    </a>
    {{ form_end(form) }}

{% endblock %}