{% trans_default_domain 'AppBundle' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/bootstrap-4.0.0/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/jquery/DataTables/datatables.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://symfony-app.appix/app_dev.php/">Ushop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% if is_granted('ROLE_GERENCIAR_CLIENTES') %}
                            <a class="dropdown-item" href="{{ path('client_index') }}">
                                {{ 'ushop.menu.client'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_GERENCIAR_PRODUTOS') %}
                        <a class="dropdown-item" href="{{ path('category_index') }}">
                            {{ 'ushop.menu.category'|trans }}
                        </a>
                        <a class="dropdown-item" href="{{ path('product_index') }}">
                            {{ 'ushop.menu.product'|trans }}
                        </a>
                        {% endif %}

                        {% if is_granted('ROLE_GERENCIAR_VENDAS') %}
                            <a class="dropdown-item" href="{{ path('sale_index') }}">
                                {{ 'ushop.menu.sale'|trans }}
                            </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'fos_user.logged_in_as'|trans({'%entity%': app.user.username}) }}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('fos_user_security_logout') }}">
                        {{ 'fos_user.logout'|trans }}
                    </a>
                {% else %}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('fos_user_security_login') }}" type="submit">{{ 'fos_user.login'|trans }}</a>
                {% endif %}
            </form>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('bundles/app/jquery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/popper/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/app/bootstrap/bootstrap-4.0.0/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/jquery/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('bundles/app/jquery/DataTables/datatables.min.js') }}"></script>

    <script>
        $('table').DataTable();
    </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
