{% extends "base.html.twig" %}

{% block body %}


    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-lg btn-primary btn-block"  type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

    {{ form_end(form) }}


{% endblock body %}




{#<h1 class="h3 mb-3 font-weight-normal">Login</h1>#}
{#<label for="username" class= "sr-only" >Usuario</label>#}
{#<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" required="" autofocus="">#}
{#<label for="inputPassword" class="sr-only">Password</label>#}
{#<input type="password" id="password" name="_password" class="form-control" placeholder="Senha" required="">#}
{#<div class="checkbox mb-3">#}
    {#<label>#}
        {#<input type="checkbox" id="remember_me" name="_remember_me" value="remember-me"> Lembrar login#}
    {#</label>#}
{#</div>#}
{#<button class="btn btn-lg btn-primary btn-block"  id="_submit" name="_submit" type="submit">ENTRAR</button>#}
{#<p class="mt-5 mb-3 text-muted">© 2017-2019</p>#}

{#</form>#}


{#<form class="form-signin">#}