{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    {% block body %}
        {% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <label for="username" class= "sr-only" >Usuario</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Senha" required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="remember-me"> Lembrar login
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block"  id="_submit" name="_submit" type="submit">ENTRAR</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </form>
        <form class="form-signin">
        </form>

    {% endblock body %}
{% endblock %}



